<!DOCTYPE html>
<html>
  <head>
    <title>Login Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Login Successful</p>
    <a href="/logout">Logout</a>
  </body>
</html>
