<!DOCTYPE html>
<html>
  <head>
    <title>Github Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Github Login</h1>
    <a href="/auth/github"><button>Sign In With Github</button></a>
  </body>
</html>
