<!DOCTYPE html>
<html>
  <head>
    <title>Github Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Github Logged In Succesfully</h1>
  </body>
</html>
