<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <nav>
          <ul class="flex justify-center align-items">
              <li><a href="/">Home</a></li>
             <% if(user) { %>
                <li><a href="/users">Dashboard</a></li>
                <li><a href="/users/logout">Logout</a></li>
             <% } else { %>
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/login">Login</a></li>
             <% } %>
          </ul>
      </nav>
      