<%- include('content/header') -%>
<div class="container center">
  <div class="form form-control">
      <h3 class="form-title">Register</h3>
     <% if(min) { %>
        <p><%= min %></p>
     <% } %>
     <% if(eu) { %>
        <p><%= eu %></p>
     <% } %>     
      <form action="/users/register" method="POST">
          <input type="text" name="name" id="name" placeholder="Enter Name">
          <input type="text" name="username" id="username" placeholder="Enter Username">
          <input type="email" name="email" id="email" placeholder="Enter Email">
          <input type="password" name="password" id="password" placeholder="Enter Password">
          
          <input type="submit" value="Register">
      </form>
  </div>
  <hr>
  <div class="register-btn">
  <a href="/users/auth/github"><button>Login With Github</button></a>
  <a href="/users/auth/google"><button>Login With Google</button></a>
</div>
</div>
<%- include('content/footer') -%>